.background__image {
  background-image: url("./header-img.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 80px;
  font-size: 45px;
  z-index: 20;
}
